.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.list-item {
  padding: 15px;
  margin: -1px -1px 0;
  border: 1px solid black;
  list-style: none;
}